<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>CHAT PAGE</title>
</head>
<body>
    <main id="app">
        <div class="back">
        <a  href="/">Go back</a>
        <h2>This is my AWESOME chat app </h2>
        <p> Say what ever you like! Be nice!</p>
            </div>
        <!--Vue custom message goes here-->

        <section class="messages">
            <ul id="messages" v-for="message in messages">
                <newmessage :msg="message" :socketid="socketID"></newmessage>
            </ul>
        </section>

        <section class="message-wrapper">
            <textarea v-on:keyup.enter="dispatchMessage" v-model="message" class="text-message"></textarea>
            <input @click.prevent="dispatchMessage"  id="send" type="submit" value="send">
        </section>

    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer type="module" src="scripts/main.js"></script>
</body>
</html>
